@use "global" as *;


.c-btn-type1 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;
    }
    &:hover {
      color: $black;
      &::before {
        transform: translateX(0%);
      }  
    }  
  }
}

.c-btn-type2 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(100%);
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;
    }
    &:hover {
      color: $black;
      &::before {
        transform: translateX(0%);
      }  
    }  
  }
}

.c-btn-type3 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(100%);
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;
    }
    &:hover {
      color: $black;
      &::before {
        transform: translateY(0%);
      }  
    }  
  }
}

.c-btn-type4 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(-100%);
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;
    }
    &:hover {
      color: $black;
      &::before {
        transform: translateY(0%);
      }  
    }  
  }
}

.c-btn-type5 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(-100% ,-100%);
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;
    }
    &:hover {
      color: $black;
      &::before {
        transform: translate(0% ,0%);
      }  
    }  
  }
}

.c-btn-type6 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(100% ,-100%);
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;
    }
    &:hover {
      color: $black;
      &::before {
        transform: translate(0% ,0%);
      }  
    }  
  }
}

.c-btn-type7 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(-100% ,100%);
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;
    }
    &:hover {
      color: $black;
      &::before {
        transform: translate(0% ,0%);
      }  
    }  
  }
}

.c-btn-type8 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(100% ,100%);
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;
    }
    &:hover {
      color: $black;
      &::before {
        transform: translate(0% ,0%);
      }  
    }  
  }
}

.c-btn-type9 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(0);
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;
    }
    &:hover {
      color: $black;
      &::before {
        transform: scale(1);
      }  
    }  
  }
}

.c-btn-type10 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(0);
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;
    }
    &:hover {
      color: $black;
      &::before {
        transform: scale(2) rotate(180deg);
      }  
    }  
  }
}

.c-btn-type11 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;      
      transform: translate(0 ,-100%);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 50%;
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;
      transform: translate(0 ,100%);
    }
    &:hover {
      color: $black;
      &::before {
        transform: translate(0% ,0%);
      }  
      &::after {
        transform: translate(0% ,0%);
      }  
    }  
  }
}

.c-btn-type12 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .7s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 55%;
      height: 100%;
      background: $white;
      transition: .7s ease-in-out;
      z-index: -1;      
      transform: translate(-100%,0);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 55%;
      height: 100%;
      background: $white;
      transition: .7s ease-in-out;
      z-index: -1;
      transform: translate(100%,0);
    }
    &:hover {
      color: $black;
      &::before {
        transform: translate(0% ,0%);
      }  
      &::after {
        transform: translate(0% ,0%);
      }  
    }  
  }
}

.c-btn-type13 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $black;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;      
      transform: translate(0 ,0);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 50%;
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;
      transform: translate(0 ,0);
    }
    &:hover {
      color: $white;
      &::before {
        transform: translate(0% ,-100%);
      }  
      &::after {
        transform: translate(0% ,100%);
      }  
    }  
  }
}

.c-btn-type14 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $black;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;      
      transform: translate(0,0);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background: $white;
      transition: .3s ease-in-out;
      z-index: -1;
      transform: translate(0,0);
    }
    &:hover {
      color: $white;
      &::before {
        transform: translate(-100% ,0%);
      }  
      &::after {
        transform: translate(100% ,0%);
      }  
    }  
  }
}

.c-btn-type15 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &:hover {
      color: $black;
      background: $white;
      border-radius: 20px;
    }  
  }
}

.c-btn-type16 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 290%;
      background: $white;
      transition: .7s ease-in-out;
      z-index: -1;      
      transform: translate(-100%,0) rotate(45deg);
      @include mq("md") {
        width: 92vw;
        height: 40vw; 
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 290%;
      background: $white;
      transition: .7s ease-in-out;
      z-index: -1;
      transform: translate(100%,0) rotate(45deg);
      @include mq("md") {
        width: 92vw;
        height: 40vw;     
      }
    }
    &:hover {
      color: $black;
      &::before {
        transform: translate(-15% ,0%) rotate(45deg);
      }  
      &::after {
        transform: translate(15% ,0%) rotate(45deg);
      }  
    }  
  }
}

.c-btn-type17 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 290%;
      background: $white;
      transition: .7s ease-in-out;
      z-index: -1;      
      transform: translate(-100%,-50%) rotate(-45deg);
      @include mq("md") {
        width: 92vw;
        height: 40vw;     
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 290%;
      background: $white;
      transition: .7s ease-in-out;
      z-index: -1;
      transform: translate(100%,50%) rotate(-45deg);
      @include mq("md") {
        width: 92vw;
        height: 40vw;     
      }
    }
    &:hover {
      color: $black;
      &::before {
        transform: translate(-20%,-50%) rotate(-45deg);
      }  
      &::after {
        transform: translate(20%,50%) rotate(-45deg);
      }  
    }  
  }
}

.c-btn-type18 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $black;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 290%;
      background: $white;
      transition: .7s ease-in-out;
      z-index: -1;      
      transform: translate(-15% ,0%) rotate(45deg);
      @include mq("md") {
        width: 92vw;
        height: 40vw;     
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 290%;
      background: $white;
      transition: .7s ease-in-out;
      z-index: -1;
      transform: translate(15% ,0%) rotate(45deg);
      @include mq("md") {
        width: 92vw;
        height: 40vw;     
      }
    }
    &:hover {
      color: $white;
      &::before {
        transform: translate(-100%,0) rotate(45deg);
      }  
      &::after {
        transform: translate(100%,0) rotate(45deg);
      }  
    }  
  }
}

.c-btn-type19 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $black;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .7s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 220%;
      background: $white;
      transition: .7s ease-in-out;
      z-index: -1;      
      transform: translate(-20%,-50%) rotate(-45deg);
      @include mq("md") {
        width: 92vw;
        height: 40vw;     
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 220%;
      background: $white;
      transition: .7s ease-in-out;
      z-index: -1;
      transform: translate(20%,50%) rotate(-45deg);
      @include mq("md") {
        width: 92vw;
        height: 40vw;     
      }
    }
    &:hover {
      color: $white;
      &::before {
        transform: translate(-100%,-50%) rotate(-45deg);
      }  
      &::after {
        transform: translate(100%,50%) rotate(-45deg);
      }  
    }  
  }
}

.c-btn-type20 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 400px;
      height: 400px;
      transform: translate(-100%,-70%);
      background: $white;
      transition: .7s ease-in-out;
      border-radius: 50%;
      z-index: -1;
      @include mq("md") {
        width: 130vw;
        height: 130vw;     
      }
    }
    &:hover {
      color: $black;
      &::before {
        transform: translate(-25%,-70%);
      }  
    }  
  }
}

.c-btn-type21 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .7s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 400px;
      height: 400px;
      transform: translate(60%,-100%);
      border-radius: 50%;
      background: $white;
      transition: .7s ease-in-out;
      z-index: -1;
      @include mq("md") {
        width: 130vw;
        height: 130vw;     
      }
    }
    &:hover {
      color: $black;
      &::before {
        transform: translate(-25%,-70%);
      }  
    }  
  }
}

.c-btn-type22 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .7s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 400px;
      height: 400px;
      transform: translate(-100%,-20%);
      background: $white;
      transition: .7s ease-in-out;
      z-index: -1;
      border-radius: 50%;
      @include mq("md") {
        width: 130vw;
        height: 130vw;     
      }
    }
    &:hover {
      color: $black;
      &::before {
        transform: translate(-25% ,-20%);
      }  
    }  
  }
}

.c-btn-type23 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .7s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 400px;
      height: 400px;
      transform: translate(60%,-20%);
      background: $white;
      transition: .7s ease-in-out;
      z-index: -1;
      border-radius: 50%;
      @include mq("md") {
        width: 130vw;
        height: 130vw;     
      }
    }
    &:hover {
      color: $black;
      &::before {
        transform: translate(-15% ,-20%);
      }  
    }  
  }
}

.c-btn-type24 {
  width: 300px;
  >a {
    width: 100%;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    opacity: 1;
    padding: 12px 0;
    box-sizing: border-box;
    background: $black;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    border: 1px solid $black;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 20vw;
      height: 40vh;
      transform: scale(0);
      background: $white;
      transition: .5s ease-in-out;
      z-index: -1;
      border-radius: 50%;
      @include mq("md") {
        width: 40vw;
        height: 30vh;     
      }
    }
    &:hover {
      color: $black;
      &::before {
        transform: scale(2);
      }  
    }  
  }
}
